rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /earlySignUpEmail {
    	allow write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}